<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="NFLWarehouse.Properties.ewarehouseConnectionString"
           connectionString="Data Source=10.30.101.105\sqlsvrewhse;Initial Catalog=eWarehouseSD;User ID=rowhse;Password=r0whs3@prod" />
    <add name="NFLWarehouse.Properties.azureConnectionString"
          connectionString="Data Source=elpuatsqlserver.database.windows.net;Initial Catalog=db_elptest;User ID=azureuser;Password=elp.1234" />
    <add name="NFLWarehouse.Properties.nehConnectionString"
          connectionString="Data Source=10.30.100.206,1433;Initial Catalog=neh_db;User ID=flex.develop;Password=flexD3v3l0p!" />
  </connectionStrings>
</configuration>